@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.main {
    position: relative;
    background: url(../assets/img/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main::after {
    position: absolute;
    content: "";
    background: url(../assets/img/main_shadow.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    z-index: 2;
    border-bottom: 1px solid #BABBC5;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
}

.navigation-list-item {
    padding-bottom: 29px;
    width: 134px;
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(123, 434, 123, 0);
    transition: 0.3s;
}

.navigation-list-item__link {
    color: #FFFFFF;
    transition: 0.3s;
}

.navigation-list-item:hover {
    border-bottom: 3px solid #BABBC5;
    transition: 0.3s;
}

.navigation-list-item:active {
    border-bottom: 3px solid #E71414;
}

.navigation-list-item:active .navigation-list-item__link {
    color: #E71414;
} 

.banner-content {
    position: relative;
    padding: 130px 0 120px 0;
    z-index: 2;
}

.banner-content__title {
    margin-bottom: 31px;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-content__subtitle {
    margin-bottom: 80px;
    padding: 0 68px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.banner-content__button {
    margin: 0 auto;
    width: 370px;
    display: block;
    font-size: 24px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF4343;
    transition: 0.3s
}

.banner-content__button:hover {
    background-color: #E71414;
    transition: 0.3s;
}

.banner-content__button:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}

.features-content {
    padding: 128px 0 134px 0;
}

.features-card__image {
    height: 80px;
    margin-bottom: 41px;
    text-align: center;
}

.feature-card__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}

.features-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 100px;
    grid-column-gap: 30px;
}

.features-card {
    width: 100%;
}

.feature-class__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #6C7279;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
}

.works-product {
    padding: 0 0 90% 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.works-product--bg1 {
    background: url(../assets/img/work_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg2 {
    background: url(../assets/img/work_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg3 {
    background: url(../assets/img/work_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg4 {
    background: url(../assets/img/work_4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg5 {
    background: url(../assets/img/work_5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg6 {
    background: url(../assets/img/work_6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg7 {
    background: url(../assets/img/work_7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product--bg8 {
    background: url(../assets/img/work_8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.works-product__block-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 67, 67, 0.8);
    border: 2px solid #FFFFFF;
    opacity: 0;
    transition: 0.3s;
}

.block-hover__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block-hover__link__title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.block-hover__link__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}

.works-product:hover .works-product__block-hover {
    opacity: 1;
    transition: 0.3s;
}

.works-product__block-hover:active {
    background: rgba(185, 12, 12, 0.8);
    border: 2px solid #FFFFFF;
    transition: 0.3s;
}